[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pysen = {extras = ["lint"], version = "*"}

[packages]
playsound = "*"
requests = "*"

[requires]
python_version = "3.8"
